* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdf6ef;
  color: #333;
background-color: #e07b2f;
}

.container {
  display: flex;
}

/* Menu lateral */
.sidebar {
  width: 120px;
  background-color: #e07b2f;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.sidebar button {
  background-color: #cc6a26;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  background-color: #b45a1f;
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
}

/* Seção de boas-vindas */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  
}

.intro-text {
  max-width: 60%;
}

.intro h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.intro h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.intro p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  color: #a33300;
}

.intro-image img {
width: 1000px;
border-radius: 10px;
position: absolute; 
top: 0;
left: 0;
z-index: -1; 
 
}

/* Níveis de treino */
.levels {
  display: flex;
  gap: 20px;
  justify-content: space-between;
 
}

.level {
  flex: 1;
  background-color: #fff3e0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f2c188;
}

.level h3 {
  margin-bottom: 10px;
  color: #b45309;
}

.level p {
  font-size: 14px;
  margin-bottom: 10px;
}
